<div class="fix">
  <div class="flying">
    <%= link_to order_path do%>
      <h1 class="order">🛒</h1>
    <% end %>
    <div class="try">
      <%= link_to restaurant_path do%>
      <h1 class="add">+</h1>
      <% end %>
    </div>

    <%= link_to restaurant_path do%>
    <h1 class="pay">💳</h1>
    <% end %>
  </div>
</div>
