<div class="footer_container">
  <div class="text_footer">
    <div class="authors">
      <div class="author">
        <h4>Janus <br> Vollmer</h4>
        <a href="https://www.linkedin.com/in/janus-vollmer-9a486a94">
          <img src="https://media-exp1.licdn.com/dms/image/C4D03AQFiGpbIldQXIQ/profile-displayphoto-shrink_400_400/0/1626763744704?e=1635984000&v=beta&t=5FATBxWlbQRzw4wh6YSt1p0zokbxGWrGBPDLisGhRsQ" alt="profile_pic">
        </a>
      </div>

      <div class="author">
        <h4>Louis <br> Neubauer</h4>
        <a href="https://www.linkedin.com/in/louis-neubauer-1193681bb">
          <img src="https://media-exp1.licdn.com/dms/image/C4E03AQG3gR6UfDg8nw/profile-displayphoto-shrink_400_400/0/1629984964354?e=1635984000&v=beta&t=EwJlkcrT6YkK5CA6idqkEXZ99ZeTg2FJgl4yM6sRMiA" alt="profile_pic">
        </a>
      </div>

      <div class="author">
        <h4>Max <br> Wedemeyer</h4>
        <a href="https://www.linkedin.com/in/max-eduard-v-wedemeyer-aba97a157/">
          <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGXBOtnluHuqA/profile-displayphoto-shrink_400_400/0/1612599918722?e=1635984000&v=beta&t=k6PyTtXccb7EyUcFKRUD8wHjHrCCBiPPy04oELYn2us" alt="profile_pic">
        </a>
      </div>
    </div>

    <div class="le_conc">
      <h3>Proud partners of <strong>le concierge</strong>:</h3>
      <a href="https://www.leconcierge.club">
        <i class="fas fa-concierge-bell" style="font-size:30px;" id="navbar_concierge_bell"></i>
      </a>
    </div>

    <div class="le_wagon">
      <h3>In colaboration with <strong>le wagon</strong>:</h3>
      <a href="https://www.lewagon.com">
        <img src="https://dwj199mwkel52.cloudfront.net/assets/lewagon-logo-square-b6124eb974be375884558e4464efce48a9b5664f18422768156364363ecdd1fc.png" alt="le_wagon_pic">
      </a>
    </div>
  </div>
</div>
