<div class="footer_container">
  <div class="text_footer">
    <div class="authors">
      <div class="author">
        <h4>Janus <br> Vollmer</h4>
        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQFiGpbIldQXIQ/profile-displayphoto-shrink_400_400/0/1626763744704?e=1635984000&v=beta&t=5FATBxWlbQRzw4wh6YSt1p0zokbxGWrGBPDLisGhRsQ" alt="profile_pic">
      </div>

      <div class="author">
        <h4>Louis <br> Neubauer</h4>
        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQG3gR6UfDg8nw/profile-displayphoto-shrink_400_400/0/1629984964354?e=1635984000&v=beta&t=EwJlkcrT6YkK5CA6idqkEXZ99ZeTg2FJgl4yM6sRMiA" alt="profile_pic">
      </div>

      <div class="author">
        <h4>Max <br> Wedemeyer</h4>
        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGXBOtnluHuqA/profile-displayphoto-shrink_400_400/0/1612599918722?e=1635984000&v=beta&t=k6PyTtXccb7EyUcFKRUD8wHjHrCCBiPPy04oELYn2us" alt="profile_pic">
      </div>
    </div>

    <div class="le_conc">
      <i class=“fas fa-concierge-bell” style=“font-size:30px;” id=“navbar_concierge_bell”></i>
    </div>

    <div class="le_wagon">
    </div>
  </div>
</div>
