<div class="swipebar">
  <div class="category">
    <p>Drinks</p>
  </div>

  <div class="category">
    <p>Appatizer</p>
  </div>

  <div class="category">
    <p>Meals</p>
  </div>

  <div class="category">
    <p>Desserts</p>
  </div>
</div>
