<div class="swipebar">
  <div class="category">
    <p><a href="#drinks">Drinks</a></p>
  </div>

  <div class="category">
    <p>Appetizer</p>
  </div>

  <div class="category">
    <p><a href="#mains">Meals</a></p>
  </div>

  <div class="category">
    <p>Desserts</p>
  </div>

  <div class="category">
    <p>Desserts</p>
  </div>

  <div class="category">
    <p>Desserts</p>
  </div>

  <div class="category">
    <p>Desserts</p>
  </div>
</div>
