<div class="landing_background">
</div>

<div class="text_land">
  <div class="welcome">
    <h4>Welcome to</h4>
  </div>

  <div class="name_land">
    <h1>The Card.</h1>
  </div>

  <div class="desc_land">
    <p>First, let us know where you are so you can make your order</p>
  </div>

  <div class="button_box">
    <div class="b_qr">
      <h6>Stop waiting - start eating</h6>
        <div class="qr_c_2">
          <%= image_tag "QR_code.png"%>
        </div>
      <p>Scan a QR Code</p>
    </div>

    <div class="b_re">
      <p>Search Restaurant</p>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
