<div class="landing_background">
</div>

<div class="text_land">
  <div class="welcome">
    <h4>Welcome to</h4>
  </div>

  <div class="name_land">
    <h1>The Card.</h1>
  </div>

  <div class="desc_land">
    <p>First, let us know where you are so you can make your order</p>
  </div>
</div>

<%# <div class="scan">
  <h3>To see the menu</h3>
  <br>
  <p>Please open the</p>
  <p>camera app and</p>
  <p>scan the QR code</p>
  <p>on your table</p>
  <br>
  <%= image_tag "QR_code.png"%>
