<div class="landing_background">
  <div class="text">
    <div class="scan">
      <h3>To see the menu</h3>
      <br>
      <p>Please open the</p>
      <p>camera app and</p>
      <p>scan the QR code</p>
      <p>on your table</p>
      <br>
      <%= image_tag "QR_code.png"%>
    </div>
  </div>

</div>
