<h1>Welcome to the Card</h1>

<div class="scan">
  <h3>To see the menu</h3>
  <br>
  <p>Please open the</p>
  <p>camera app and</p>
  <p>scan the QR code</p>
  <p>on your table</p>
  <br>
  <i class="fas fa-qrcode"></i>
</div>
