.container_co {
  background-color: rgb(229, 249, 194);
  width: 90%;
  margin: auto;
  border-radius: 4px;
  padding-bottom: 22px;
  margin-top: 24px;
  margin-bottom: 10px;
  margin-bottom: 111px;
}

.container_co h1 {
  padding: 16px;
  font-size: 24px;
}

.meal_co {
  position: relative;
  background-color: white;
  width: 90%;
  margin: 16px auto;
  padding: 16px 16px 0px 16px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
}

.name_pri_co {
  display: flex;
  justify-content: space-between;
}

.delete_btn {
  display: flex;
  right: 4px;
  position: absolute;
  background-color: red;
  border-radius: 13px;
  width: 26px;
  height: 26px;
  text-align: center;
  top: -10px;
  right: -10px;
  justify-content: center;
  align-content: center;
}

.delete_btn p {
  text-decoration: none;
  color: white;
}

.qua_box {
  display: flex;
  margin-top: 8px;
}

.qua-cha {
  display: flex;
  margin-left: 32px;
}

.qua-btn {
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid rgb(147, 147, 147);
  border-radius: 3px;
  width: 25px;
  height: 25px;
}

.qua-fig {
  padding: 0px 10px;
}

.total_pri_co {
  color: rgb(18, 121, 72);
  width: 100%;
  text-align: end;
  padding-right: 36px;
  padding-top: 8px;
}
