.cards {
  width: 100%;
  margin-top: 18px;
  margin-bottom: 176px;
  background-color: #f8f8f8;
  text-align: -webkit-center;
}

.category_m {
  flex-wrap: wrap;
  justify-content: space-between;
  // margin-top: 24px;
  padding: 8px;
  align-content: center;
  box-shadow: none;
  // margin: 10;
}

.meal {
  // background-color: #f8f8f8;
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: relative;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px;
  margin-top: 16px;
  img {
    height: 100%;
    width: 100%;
    margin-left: 16px;
    border-radius: 10px;
  }
}

.text {
  background-color: white;
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px;
}

.name_pri {
  display: flex;
  justify-content: space-between;
}

.quantity {
  display: flex;
  justify-content: space-between;
}

.plus {
  display: flex;
  justify-content: center;
  background-color: rgba(229, 249, 194, 1);
  color: rgba(18, 121, 72, 1);
  width: 48px;
  height: 48px;
  border-radius: 24px;
  text-align: center;
  margin-top: 64px;
  position: absolute;
  top: 10px;
  left: 5px;
  font-size: 56px;
  font-weight: 900;
}

.plus[type=submit] {
  color: red;

}

.link {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

h4 {
  color: rgb(0, 37, 36);
  font-weight: 400;
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 16px;
  margin-left: 40px;
  letter-spacing: 1px;
}
