.checkbar {
  background-color: rgb(229, 249, 194);
  font-family: "Raleway";
}

h5 {
  text-align: center;
  margin-top: 40px;
  font-family: "Raleway";
}

.check_sign {
  margin-top: 48px;
  text-align: center;
}

.fas_check {
  color: rgb(229, 249, 194);
  font-size: 88px;
  text-align: center;
  margin-bottom: 24px;
}
