.navbar-lewagon {
  justify-content: space-between;
  background: rgb(18, 121, 72);
}

.navbar-brand h3 {
  font-family: 'Gloria Hallelujah';
  color: white;
  padding: 3px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-toggler {
  border: none;
}
