 .receipt_header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    border-bottom: dotted 4px;
  }

  .receipt_body {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
  }
